.service-create-shortcut {
  display: inline-block;
  margin-left: 0.3rem;
  text-align:center;
  padding: 0.3rem;
  border: none;
  width:5rem;
  background-color: #1f1f1f;
  color: #999;
  cursor: pointer;
  padding: 4px 8px;
  transition: background-color 0.25s;
}

.service-create-shortcut:hover {
  transition: background-color 0.25s;
  background-color: #181818;
}
.remove-plugin-selector {
  display: inline-block;
  border: none;
  background-color: #1f1f1f;
  cursor: pointer;
  transition: background-color 0.25s;
  width:27px;
  height:27px;
}

.remove-plugin-selector:hover {
  background-color: #181818;
}