button {
  width: 5rem;
  height:27px
}

.service-list-item {
  /* display: contents; */
  border-bottom: 1px solid #ffffff11;
  gap: 1rem;
  align-items: center;
  border-bottom: 1px solid #494949; /* Add this line to include a border around each grid row */
}
.service-list-item:hover {
  background-color: #ffffff11;
}
.service-list-item *{
  padding: 0.2rem 1rem;
}