button {
  width: 5rem;
  height:27px
}

.join-button {
  color: #646cff;
  transition: background-color 0.2s;
}
.join-button:hover {
  background-color: #3c3f66;
  transition: background-color 0.2s;
}
.delete-button {
  color: #d65353;
  transition: background-color 0.2s;
}
.delete-button:hover {
  background-color: #5b3535;
  transition: background-color 0.2s;
}

.service-list-item {
  /* display: contents; */
  border-bottom: 1px solid #ffffff11;
  gap: 1rem;
  align-items: center;
  border-bottom: 1px solid #494949; /* Add this line to include a border around each grid row */
  transition: background-color 0.2s;
  padding: 0.5rem 0;
}
.service-list-item:hover {
  background-color: #ffffff11;
  transition: background-color 0.2s;
}