.sidebar {
  height: 100%;
  width: 100%;
  transition: flex 0.3s ease, width 0.3s ease, display 0.3s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  box-sizing: border-box;
  transform-origin: right;
  padding-bottom: 4rem;
}
.sidebar-back-button {
  color: #ffffff66;
  transition: color 0.25s, background-color 0.25s;
}
.sidebar-back-button:hover {
  color: #ffffffbb;
  background-color: #88888855;
  transition: color 0.25s, background-color 0.25s;
}
.close-sidebar-button:hover {
  color: #ffffffbb;
  background-color: #88888855;
  transition: color 0.25s, background-color 0.25s;
}
.close-sidebar-button {
  color: #ffffff66;
  background-color: #44444400;
  border: none;
  margin-left: 12px;
  /* padding:3px; */
  cursor: pointer;
  text-align:center;
  height: 100%;
  width: 26px;
  transition: color 0.25s, background-color 0.25s; 
  display: flex;
  align-items: center;
  justify-content: center;
}
.close-sidebar-button-svg {
  height: 70%;
  width: 70%;
  padding: 3px;
  align-items: center;
  display: flex;
  justify-content: center;
}


.sidebar a {
  flex: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  user-select: none;
}

.sidebar a:hover {
  background-color: #1b1b1b;
  transition: background-color 0.3s ease;
}

.top-row-and-back-button {
  display: flex;
justify-content: baseline;

  align-items: center;
}

.sidebar .profile {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.sidebar * .profile-image {
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar * .profile-image img {
  width: 100%;
  height: 100%;
  /* padding: 11px; */
  object-fit: cover;
  background-color: #252525;
  transition: transform 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
}

.sidebar * .profile-image img:hover {
  background-color: #222;
  transform: scale(1.1);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.profile-name {
  margin-top: 6px;
  font-size: 1.5rem;
}
.profile-name:hover {
}


.sidebar-content {
  padding: 1rem;
}

.sidebar-option {
  cursor: pointer;
  color: #aaaaaa;
  padding: 1rem 0rem;
}