#root {
  width: 100vw;
  max-width: 100vw;
}
/* .header-home-icon-button {

} */

:root {
  --glow-color: rgb(96, 59, 228);
}

.join-the-hub {
  position: relative;
  animation: glow 1.5s infinite alternate;
  transition: transform 0.3s ease;
}

.join-the-hub:hover {
  animation: glow-hover 1.5s infinite alternate;
  transform: scale(1.1);
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px var(--glow-color), 0 0 10px var(--glow-color), 0 0 15px var(--glow-color), 0 0 20px var(--glow-color);
  }
  100% {
    box-shadow: 0 0 20px var(--glow-color), 0 0 30px var(--glow-color), 0 0 40px var(--glow-color), 0 0 50px var(--glow-color);
  }
}

@keyframes glow-hover {
  0% {
    box-shadow: 0 0 10px var(--glow-color), 0 0 20px var(--glow-color), 0 0 30px var(--glow-color), 0 0 40px var(--glow-color);
  }
  100% {
    box-shadow: 0 0 30px var(--glow-color), 0 0 40px var(--glow-color), 0 0 50px var(--glow-color), 0 0 60px var(--glow-color);
  }
}

.bold {
  font-weight: bold;
}
.color-white {
  color: #d1d1d1;
}

.color-gray {
  color:gray;
}
.hover-dark-gray {
transition: background-color 0.3s ease;
}

.hover-dark-gray:hover {
background-color: #1b1b1b;
transition: background-color 0.3s ease;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
  background-color: transparent;
  width: 10px !important;
  position: relative;
}
.gutter.gutter-horizontal::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  width: 1px;
  height: 100%;
}
.gutter.gutter-horizontal:hover {
  cursor: col-resize;
}
.gutter.gutter-vertical {
  cursor: row-resize;
  background-color: transparent;
  height: 10px !important;
  position: relative;
}
.gutter.gutter-vertical::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #333;
  height: 1px;
  width: 100%;
}
.gutter.gutter-vertical:hover {
  cursor: row-resize;
}