#root {
  width: 100vw;
  max-width: 100vw;
}
/* .header-home-icon-button {

} */

.bold {
  font-weight: bold;
}
.color-white {
  color: #d1d1d1;
}

.color-gray {
  color:gray;
}
.hover-dark-gray {
transition: background-color 0.3s ease;
}

.hover-dark-gray:hover {
background-color: #1b1b1b;
transition: background-color 0.3s ease;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
  background-color: transparent;
  width: 10px !important;
  position: relative;
}
.gutter.gutter-horizontal::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  width: 1px;
  height: 100%;
}
.gutter.gutter-horizontal:hover {
  cursor: col-resize;
}
.gutter.gutter-vertical {
  cursor: row-resize;
  background-color: transparent;
  height: 10px !important;
  position: relative;
}
.gutter.gutter-vertical::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #333;
  height: 1px;
  width: 100%;
}
.gutter.gutter-vertical:hover {
  cursor: row-resize;
}