:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a.home-link {
  color: #ffffff33;
}
a.home-link:hover {
  color: #ffffff55;
}
a {
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  /* min-height: 100vh; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  border-radius: 4px;
  padding-top: 2px 10px;
  background-color: #00000022;
  color: #ffffff66;
  cursor: pointer;
  transition: background-color 0.25s;
}
select {
  width: 5rem;
  height: 27px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  background-color: #00000022;
  color: #ffffff66;
  border: none;
  cursor: pointer;
}
input[type="radio"] {
  margin: 0 5px 0 0;
  vertical-align: middle;
}
label {
  color: #ffffff66;
  font-size: 0.9rem;
}

button:hover {
  background-color: #00000055;
}

textarea, input[type="text"] {
  background-color: #00000022;
  border-color: #ffffff11;
  margin-right:10px;
}

input[type="text"] {
  padding: 4px 8px;
  /* border-radius: 4px; */
  border: 2px solid #ffffff11;
}

input[type="text"].invalid {
  padding: 4px 8px;
  /* border-radius: 4px; */
  border: 1px solid #ff000066;
}

.chat-message:hover {
  background:#00000011;
}
.chat-message {
  word-wrap: "break-word";
  vertical-align: "text-top";
  align-items:"flex-start";
  cursor:"default";
}