#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 0.8rem 2rem; */
  width: 100%;
  height: 100%;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color:#242424;
}

.underline-on-hover {
  text-decoration: none;
}
.underline-on-hover:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
}

.delete-post-button {
  background-color:#333;
  transition: background-color 0.25s;
}
.delete-post-button:hover {
  background-color: #5e2626;
  transition: background-color 0.25s;
}
.comment-button {
  background-color:#333;
  transition: background-color 0.25s;
}

.comment-button:hover {
  background-color: #464646;
  transition: background-color 0.25s;
}

.upvote-button {
  background-color: #00000000;
  transition: background-color 0.25s, color 0.25s;
}

.upvote-button:hover {
  background-color: rgb(213, 103, 0);
  color: #ffffff;
  transition: background-color 0.25s, color 0.25s;
}

.downvote-button {
  background-color: #00000000;
  transition: background-color 0.25s, color 0.25s;
}

.downvote-button:hover {
  background-color: rgb(48, 74, 220);
  color: #ffffff;
  transition: background-color 0.25s, color 0.25s;
}

.hover-dim {
  transition: background-color 0.25s;
}
.hover-dim:hover {
  background-color: #212121;
  transition: background-color 0.25s;

}

.green-text {
  color: #579c57;
}

blockquote {
  margin: 0px;
}

button {
  border-radius: 4px;
  /* padding-top: 2px 10px; */
  background-color: #1f1f1f;
  border: 1px solid #333;
  color: #ffffff66;
  cursor: pointer;
  transition: background-color 0.25s, color 0.25s;
}

button:hover {
  background-color: #191919;
  color: #999;
  transition: background-color 0.25s, color 0.25s;
}

select {
  width: 5rem;
  height: 27px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  background-color: #00000022;
  color: #ffffff66;
  border: none;
  cursor: pointer;
}
input[type="radio"] {
  margin: 0 5px 0 0;
  vertical-align: middle;
}
label {
  color: #ffffff66;
  font-size: 0.9rem;
}


textarea, input[type="text"] {
  background-color: #00000022;
  border-color: #333;
  margin-right:10px;
}

input[type="text"] {
  padding: 4px 8px;
  /* border-radius: 4px; */
  border: 1px solid #333;
}

input[type="text"].invalid {
  padding: 4px 8px;
  /* border-radius: 4px; */
  border: 1px solid #ff000066;
}