
#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 0.8rem 2rem; */
  width: 100%;
  height: 100%;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.radio-quick-start-buttons button {
  padding: 1rem;
}