.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 0.8rem;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.bold {
  margin-right: 8px;
  color: gray;
}