.piano {
  justify-content: center; /* Centers items horizontally */
  align-items: center; /* Centers items vertically */
  align-content: center; /* Aligns multiple lines in the flex container */
  min-height: 300px;
}
.piano-key {
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  width: 40px;
  height: 200px;
  margin: 1px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  line-height: 200px;
  user-select: none;
  transition: background-color 0.1s;
}

.piano-key.natural {
  background-color: white;
  border: 1px solid black;
  color: black;
}

.piano-key.sharp {
  background-color: black;
  color: white;
  width: 30px;
  height: 120px;
  margin-left: -15px;
  margin-right: -15px;
  z-index: 1;
  position: relative;
}

.piano-key {
  background-color: white; /* Replace with your default color */
  transition: background-color 0.3s ease-out; /* Smooth transition when releasing */
}

.piano-key.pressed-red {
  background-color: #cc4444; /* Any color you prefer for the pressed state */
  transition: none; /* No transition when pressing */
}

.piano-key.pressed-green {
  background-color: #339933; /* Any color you prefer for the pressed state */
  transition: none; /* No transition when pressing */
}
.piano-key.pressed-blue {
  background-color: #4682B4; /* Any color you prefer for the pressed state */
  transition: none; /* No transition when pressing */
}
.piano-key.pressed-orange {
  background-color: #cc7a00; /* Any color you prefer for the pressed state */
  transition: none; /* No transition when pressing */
}
.piano-key.pressed-purple{
  background-color: #a36bdb; /* Any color you prefer for the pressed state */
  transition: none; /* No transition when pressing */
}