.chess-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  color: #ffffff88;
  font-size: 0.8rem;
}

.chessboard {
  margin-bottom: 20px;
}

.game-info {
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  width: 320px;
}

.game-info p {
  margin: 5px 0;
}
