.control-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #ffffff55;
  font-size: 0.8rem;
  width: 100%;
  margin-bottom: 2px;
}

.control-header-button {
  padding: 0.4rem 0.4rem;
}

.control-header-left {
  flex-grow:1;
  display: flex;
  justify-content: flex-start;
}

.control-header-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sidebar-toggle.active {
  background-color: #333;
  color: #b4b4b4;
  transition: background-color 0.2s;
}
.sidebar-toggle.active:hover {
  background-color: #2d2d2d;
  transition: background-color 0.2s;
}

.inbox-unread {
  border: 1px solid blue;
}
.sidebar-toggle {
  flex: 2;
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
  user-select: none;
}

.sidebar-toggle:hover {
  background-color: #333;
  transition: background-color 0.2s;
}

.icon-mail {
  flex: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

.home-link, .sidebar-toggle, .icon-mail {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

