.add-tab-button{
  color: #ffffff66;
  background-color: #44444400;
  border: none;
  padding:3px;
  cursor: pointer;
  height: 20px;
  width: 20px;
  min-width: 20px;
  text-align:center;
  transition: background-color 0.25s;
}
.add-tab-button:hover {
  background-color: #44444499;
}

.close-tab-button {
  color: #ffffff66;
  background-color: #44444400;
  border: none;
  margin-left: 12px;
  padding:3px;
  cursor: pointer;
  height: 20px;
  width: 20px;
  min-width: 20px;
  text-align:center;
  transition: background-color 0.25s;
}
.tab.active .close-tab-button:hover {
  background-color: #88888855;
}
.tab.inactive .close-tab-button:hover {
  background-color: #323232;
}
.close-tab-button-svg {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.25s, opacity 0.25s;
}
.close-tab-button:hover .close-tab-button-svg,
.tab.active .close-tab-button-svg {
  visibility: visible;
  opacity: 1;
}

.tab {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  font-size: 0.8rem;
  white-space: nowrap;
  height: 26px;
  transition: background-color 0.25s;
}

.tab * {
  overflow: hidden;
}

.tab.inactive:hover {
  background-color: #ffffff09;
}

.tab.active {
  background-color: #ffffff11;
}

.tab.inactive {
  background-color: #00000000;
  color: #757575;
}
.vertical-line {
  height: 100%;
  background-color: #ffffff33;
  padding: 50% 1px;
  margin: 0px 5px;
}