.navContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  /* border-top: 1px #333 solid; */
  /* border-bottom: 1px #c6c6c6 solid; */
}

.navItem {
  flex: 1;
  cursor: pointer;
  text-align: center;
  /* color:black; */
  padding: 0.3rem;
  text-decoration: none;
  color: #d1d1d1;
}

.navItem:hover {
  text-decoration: underline;
}

.actionButton {
  cursor: pointer;
  /* padding: 4px 8px; */
  border-radius: 4px;
  color: #d1d1d1;
  /* background-color: #f0f0f0; */
  /* color:black; */
  text-decoration: none;
}

.actionButton:hover {
  /* background-color: #e0e0e0; */
  text-decoration: underline;
}