.navContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  border-top: 1px #333 solid;
  border-bottom: 1px #333 solid;
}

.navItem {
  flex: 1;
  cursor: pointer;
  text-align: center;
  color:black;
  padding: 0.3rem;
}

.navItem:hover {
  text-decoration: underline;
}

.actionButton {
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #f0f0f0;
  color:black;
}

.actionButton:hover {
  background-color: #e0e0e0;
}