.nodes-node-row {
  gap: 1rem;
  align-items: center;
  transition: background-color 0.2s;
  cursor: pointer;
  display: flex;
  padding:5px;
}
.nodes-node-row:hover {
  background-color: #ffffff11;
  transition: background-color 0.2s;
}